<a href="https://colab.research.google.com/github/HenryWRobinson/HenryWRobinson.github.io/blob/main/Week7/ScraperNatLot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
import os
import numpy as np
import string
from bs4 import BeautifulSoup

In [2]:
url = "https://www.national-lottery.co.uk/results/lotto/draw-history"
html = requests.get(url)
soup = BeautifulSoup(html.content, 'html.parser')
date = soup.find_all("li", class_="table_cell table_cell_1 table_cell_1_width_no_raffle table_cell_first")
date_list1=[i.text.replace(" ","").replace("Date","").replace("\n","").replace("Sat","").replace("Wed","") for i in date]
date_list2=date_list1[1:]
print(date_list2)
pot = soup.find_all('li',class_='table_cell table_cell_2 table_cell_2_width_no_raffle')
pot_list1=[i.text.replace(" ","").replace("Jackpot","").replace("\n","").replace("£","").replace(",","") for i in pot]
pot_list2=pot_list1[1:]
print(pot_list2)

['01Jan2022', '29Dec2021', '25Dec2021', '22Dec2021', '18Dec2021', '15Dec2021', '11Dec2021', '08Dec2021', '04Dec2021', '01Dec2021', '27Nov2021', '24Nov2021', '20Nov2021', '17Nov2021', '13Nov2021', '10Nov2021', '06Nov2021', '03Nov2021', '30Oct2021', '27Oct2021', '23Oct2021', '20Oct2021', '16Oct2021', '13Oct2021', '09Oct2021', '06Oct2021', '02Oct2021', '29Sep2021', '25Sep2021', '22Sep2021', '18Sep2021', '15Sep2021', '11Sep2021', '08Sep2021', '04Sep2021', '01Sep2021', '28Aug2021', '25Aug2021', '21Aug2021', '18Aug2021', '14Aug2021', '11Aug2021', '07Aug2021', '04Aug2021', '31Jul2021', '28Jul2021', '24Jul2021', '21Jul2021', '17Jul2021', '14Jul2021', '10Jul2021']
['4201355', '2000000', '15000000', '5472566', '4082078', '2000000', '11704275', '9035615', '7547238', '5364290', '4015362', '2000000', '4026102', '2000000', '4101869', '2000000', '20000000', '2000000', '11042269', '8714754', '7265148', '5107865', '3800000', '2000000', '11836281', '9052462', '7569060', '5370436', '4048514', '2000000', '15000000', '5383627', '4079277', '2000000', '20000000', '9079487', '7596828', '5419064', '4061448', '2000000', '11165532', '8817804', '7357979', '5158495', '3800000', '5162779', '3800000', '2000000', '20000000', '5143792', '3800000']

In [7]:
df = pd.DataFrame(list(zip(date_list2, pot_list2)))
df.columns = ['Date', 'Jackpot(£)']
df

         Date Jackpot(£)
0   01Jan2022    4201355
1   29Dec2021    2000000
2   25Dec2021   15000000
3   22Dec2021    5472566
4   18Dec2021    4082078
5   15Dec2021    2000000
6   11Dec2021   11704275
7   08Dec2021    9035615
8   04Dec2021    7547238
9   01Dec2021    5364290
10  27Nov2021    4015362
11  24Nov2021    2000000
12  20Nov2021    4026102
13  17Nov2021    2000000
14  13Nov2021    4101869
15  10Nov2021    2000000
16  06Nov2021   20000000
17  03Nov2021    2000000
18  30Oct2021   11042269
19  27Oct2021    8714754
20  23Oct2021    7265148
21  20Oct2021    5107865
22  16Oct2021    3800000
23  13Oct2021    2000000
24  09Oct2021   11836281
25  06Oct2021    9052462
26  02Oct2021    7569060
27  29Sep2021    5370436
28  25Sep2021    4048514
29  22Sep2021    2000000
30  18Sep2021   15000000
31  15Sep2021    5383627
32  11Sep2021    4079277
33  08Sep2021    2000000
34  04Sep2021   20000000
35  01Sep2021    9079487
36  28Aug2021    7596828
37  25Aug2021    5419064
38  21Aug2021    4061448
39  18Aug2021    2000000
40  14Aug2021   11165532
41  11Aug2021    8817804
42  07Aug2021    7357979
43  04Aug2021    5158495
44  31Jul2021    3800000
45  28Jul2021    5162779
46  24Jul2021    3800000
47  21Jul2021    2000000
48  17Jul2021   20000000
49  14Jul2021    5143792
50  10Jul2021    3800000

In [9]:
df.to_csv("Week7/ScraperNatLotData.csv")

FileNotFoundError: ignored

In [10]:
os.getcwd()

'/content'